[submodule "Dictr/vendors/PureLayout"]
	path = Dictr/vendors/PureLayout
	url = https://github.com/TongKuo/PureLayout.git
[submodule "Dictr/vendors/AFNetworking"]
	path = Dictr/vendors/AFNetworking
	url = https://github.com/TongKuo/AFNetworking.git
